<menu class="social-media-share">
    <a href="#" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="#" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="#" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="#" class="icon-lastfm" rel="external" title="My Lastfm"></a>
    <a href="#" class="icon-mail" rel="external" title="My Mail"></a>
</menu>